{% from utils.templates import script, get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang }}">
<head>
	{% include "../meta.jinja" %}
	{% raw script("/static/js/install/first.js") %}

	<title>Instalacion</title>
</head>
<body>
	<div id="notifications"></div>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card" id="app">
			<div class="card-header">
				<p class="card-header-title">Ingresar ramas y el nombre del grupo Scout</p>
			</div>
			<form class="card-content">
				<div class="field">
					<label for="full_name" class="label">Nombre del grupo scout</label>
					<div class="control">
						<div class="columns is-mobile">
							<div class="column is-one-quarter">
								<input
									v-model="groupNumber"
									v-numeric
									inputmode="numeric"
									placeholder="N° del grupo"
									type="text"
									class="input"
								>
							</div>
							<div class="column">
								<input
									v-model="groupName"
									v-null
									v-capital
									placeholder="Nombre del grupo"
									type="text"
									class="input"
								>
							</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label for="forks" class="label">Ramas del grupo</label>
					<div class="control stack">
						<div v-for="(el, i) in forks" v-bind:key="i" class="columns">
							<div class="column">
								<input
									v-model="el.type"
									v-null
									v-capital
									v-bind:ref="`type-${i}`"
									v-on:input="checkFull(i)"
									type="text"
									v-bind:placeholder="`Rama #${i + 1}`"
									class="input"
								>
							</div>
							<div class="column">
								<input
									v-model="el.name"
									v-null
									v-capital
									v-bind:ref="`name-${i}`"
									v-on:input="checkFull(i)"
									type="text"
									v-bind:placeholder="`Nombre de la rama #${i + 1}`"
									class="input"
								>
							</div>
						</div>
						<div class="columns">
							<div class="column">
								<input
									type="text"
									ref="pre-type"
									v-on:input="addFork('type', $event.target.value)"
									v-bind:placeholder="`Rama #${forks.length + 1}`"
									class="input"
								>
							</div>
							<div class="column">
								<input
									type="text"
									ref="pre-name"
									v-on:input="addFork('name', $event.target.value)"
									v-bind:placeholder="`Nombre de la rama #${forks.length + 1}`"
									class="input"
								>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="card-footer">
				<button
					v-on:click="save"
					class="button is-primary"
				>Guardar</button>
				<div class="h-space"></div>
				<button
					v-on:click="clear"
					class="button is-danger"
				>Borrar todo</button>
			</div>
		</div>
	</div>
</body>
</html>