{% from utils.templates import get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../meta.jinja" %}

	<title>Iniciar instalacion</title>
</head>
<body>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card">
			<div class="card-header">
				<p class="card-header-title">Iniciar instalacion</p>
			</div>
			<div class="card-content">
				<p>El aplicativo ya es funcional, pero se debe configurar algunos detalles para que sea totalmente operativo.</p>
			</div>
			<div class="card-footer">
				<a class="button is-link" href="/install/step/first">Comenzar ahora</a>
			</div>
		</div>
	</div>
</body>
</html>