{% from utils.templates import script, vue, get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../meta.jinja" %}
	{% raw script("/static/js/install/second.js") %}

	<title>Iniciar instalacion</title>
</head>
<body>
	<div id="notifications"></div>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card" id="app">
			<div class="card-header">
				<p class="card-header-title">Crear cuenta administrativa</p>
			</div>
			<div class="card-content">
				<div class="field">
					<label for="full_name" class="label">Identificacion</label>
					<div class="control">
						<div class="columns is-mobile">
							<div class="column is-one-third">
								<div class="select">
									<select v-model="niType">
										<option v-bind:value="null" selected="true" hidden="true">Tipo</option>
										{% for ni_type in ni_types %}
											<option
												v-bind:value="{{ ni_type.id }}"
											>{{ ni_type.abbreviation.upper() }}</option>
										{% end %}
									</select>
								</div>
							</div>
							<div class="column">
								<input
									v-numeric
									v-model="ni"
									placeholder="Numero"
									type="text"
									class="input"
									inputmode="numeric"
								>
							</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label for="full_name" class="label">Nombre Completo</label>
					<div class="control">
						<input
							v-null
							v-capital
							v-model="fullName"
							type="text"
							class="input"
							placeholder="Nombre Completo"
						>
					</div>
				</div>
				<div class="field">
					<label for="email" class="label">Correo Electronico</label>
					<div class="control">
						<input
							v-null
							v-model="email"
							type="text"
							class="input"
							placeholder="Correo Electronico"
							inputmode="email"
						>
					</div>
				</div>
				<div class="field">
					<label for="phone" class="label">Numero de Telefono</label>
					<div class="field has-addons">
						<p class="control">
							<span class="button is-static">
								<b>TEL:</b>
							</span>
						</p>
						<p class="control is-expanded">
							<input
								v-numeric
								v-max-length="10"
								v-model="phone"
								type="text"
								class="input"
								placeholder="Numero de Telefono"
								inputmode="numeric"
							>
						</p>
					</div>
				</div>
				<div class="field">
					<label for="birthday" class="label">Fecha de Nacimiento</label>
					<div class="control">
						<date-picker v-model="birthday" />
					</div>
				</div>
				<div class="field">
					<label for="fork" class="label">Rama Actual</label>
					<div class="control">
						<div class="select">
							<select v-model="fork">
								<option v-bind:value="null" selected="true" hidden="true">Rama</option>
								{% for fork in forks %}
									<option
										v-bind:value="{{ fork.id }}"
									>
										{{ fork.fork.title() }} - {{ fork.name.title() }}
									</option>
								{% end %}
							</select>
						</div>
					</div>
				</div>
				<div class="control">
					<label for="password" class="label">Contraseña</label>
					<div class="control has-icons-left stack">
						<input
							v-null
							v-bind:type="(showPassword)? 'text' : 'password'"
							v-model="password"
							class="input"
							placeholder="Contraseña"
						>
						<span class="icon is-small is-left">
							<i class="material-icons">lock{{ vue("(showPassword)? '_open' : null") }}</i>
						</span>
					</div>
					<div class="control has-icons-left stack">
						<input
							v-null
							v-bind:type="(showPassword)? 'text' : 'password'"
							v-model="passwordConfirm"
							class="input"
							placeholder="Confimar contraseña"
						>
						<span class="icon is-small is-left">
							<i class="material-icons">lock{{ vue("(showPassword)? '_open' : null") }}</i>
						</span>
					</div>
					<div class="control stack">
						<label class="checkbox">
							<input
								v-model="showPassword"
								type="checkbox"
							>
							<span>Mostrar contraseña</span>
						</label>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<button
					v-on:click="send"
					class="button is-link"
				>Enviar</button>
			</div>
		</div>
	</div>
</body>
</html>