{% from utils.templates import get_lang, date %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "meta.jinja" %}

	<title>Credits & Copyright</title>
</head>
<body>
	<div class="card xl-centered">
		<div class="card-content">
			<h1 class="title">Credits & Copyright</h1>
			<p style="text-align: center;">&copy; Everest Code &#124; 2019 - {{ date.today().year }}</p>
			<hr>

			<h2 class="subtitle">Colaborators</h2>
			<table class="table is-bordered is-hoverable is-fullwidth">
				<tbody>
					<tr>
						<td><b>Sebastian Gaviria Tangarife</b></td>
						<td><ul>
							<li>BackEnd Code</li>
							<li>FrontEnd Code</li>
							<li>Database Design</li>
						</ul></td>
					</tr>
				</tbody>
			</table>

			<h2 class="subtitle">Technologies</h2>
			<ul style="margin: 1em;">
				<li>
					<b>Documentation:</b> <a target="blank" href="https://v1.vuepress.vuejs.org/">Vuepress</a>
				</li>
				<li>
					<b>BackEnd:</b> <a target="blank" href="https://www.python.org/">Python</a> &amp; <a target="blank" href="https://github.com/tornadoweb/tornado#tornado-web-server">Tornado</a>
				</li>
				<li>
					<b>FrontEnd:</b> <a target="blank" href="https://www.tornadoweb.org/en/stable/guide/templates.html">Tornado Template</a> with <a target="blank" href="https://vuejs.org">Vue.JS</a>
				</li>
				<li>
					<b>Style Framework:</b> <a target="blank" href="https://bulma.io/">Bulma CSS</a>
				</li>
				<li>
					<b>Database:</b> <a target="blank" href="https://www.postgresql.org/">PostgreSQL</a>
				</li>
				<li>
					<b>Session Database:</b> <a target="blank" href="https://redis.io/">Redis DB</a>
				</li>
			</ul>
			<div class="columns is-mobile is-vcentered">
				<div class="column is-half">
					<h2 class="title is-3">Everest Code&trade;</h2>
					<hr>
					<img src="/static/media/brand.png">
				</div>
				<div class="column is-half">
					<h2 class="title is-3"><a target="blank" href="http://bioscout.com">BioScout.com</a></h2>
					<hr>
					<img src="/static/media/brand.png">
				</div>
			</div>
		</div>
	</div>
</body>
</html>