{% from utils.templates import get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "meta.jinja" %}

	<title>500 - Error en el Servidor</title>
</head>
<body>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card">
			<div class="card-header">
				<span
					class="title card-header-title"
					style="font-weight: bolder;"
				> El servidor no se ha instalado aun </span>
			</div>
			<div class="card-content">
				<p>La <b>Base de Datos</b> se esta instalando en este momento.</p>
				<p>Por favor recarga la pagina si el error perdura contacta al administrador del servidor.</p>
			</div>
			<div class="card-footer">
				<a href="/" class="button is-link">Recargar</a>
			</div>
		</div>
	</div>
</body>
</html>