{% from utils.templates import script, format_date, get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "./meta.jinja" %}
	{% raw script("/static/js/helpers/navbar.js") %}

	<title>Inicio</title>
</head>
<body>
	{% include "./admins/navbar.jinja" %}
	<div class="card xl-centered">
		<div class="card-content">
			<div class="columns">
				<div class="column">
					<h1 class="title">Los eventos mas recientes</h1>
					<hr>
					{% if len(events) > 0 %}
							{% for event in events %}
								<div class="card">
									<div class="card-header">
										<a href="/events/{{ event['id'] }}" class="card-header-title">
											{{ event['name'].title() }}
										</a>
									</div>
									<div class="card-content">
										<div class="content">
											<p>
												<b>Creador:</b>
												<em>{{ event['creator_ni'] }}</em> - 
												{{ event['creator_name'].split(' ')[0].title() }}
											</p>
											<p>
												<b>Fecha:</b> {{ format_date(event['event_date']) }}
											</p>
											<p>
												<b>Ramas participantes:</b> {{ ', '.join([ fork['fork'].title() for fork in event['forks'] ]) }}
											</p>
										</div>
									</div>
								</div>
							{% end %}
					{% else %}
						<h2 class="subtitle text-center">No hay eventos por el momento</h2>
					{% end %}
				</div>
				<div class="column">
					<h1 class="title">Perticipantes registradas en el evento mas reciente</h1>
					{% if last_event is not None %}
						<hr>
						<h2 class="subtitle">{{last_event['name'].title()}}</h2>
						<p><b>Participantes inscritos:</b> {{ len(subjects_registred) }}</p>
						<hr>
						{% for fork in last_event['forks'] %}
							{% set subjects = filter_subject(fork['id'], subjects_registred) %}
							<h3 class="bold disabled">
								<b>{{ fork['fork'].title() }} - {{ fork['name'].title() }}</b>
								<i class="material-icons">keyboard_arrow_right</i>
								{{ len(subjects) }}
							</h3>
							{% if len(subjects) > 0 %}
								<ul>
									{% for subject in subjects %}
										<li>
											{{ subject['ni_type']['abbreviation'] }} {{ subject['ni'] }} - 
											<b>{{ subject['full_name'].title() }}</b>
										</li>
									{% end %}
								</ul>
							{% end%}
							<hr>
						{% end %}
					{% else %}
						<h2 class="subtitle text-center">No hay eventos por el momento</h2>
					{% end %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>