{% from utils.templates import script, vue, get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "meta.jinja" %}

	{% raw script("/static/js/login.js") %}

	{% if error %}
	<script type="module">
		import { store as notifyStore } from '/static/js/helpers/notifications.js'
		window.addEventListener('load', async () => {
			await notifyStore.commit('add', {
				type: 'danger',
				title: 'Error de Autenticacion',
				description: 'El usuario o la contraseña son incorrectos.'
			})
		})
	</script>
	{% end %}

	<title>Iniciar Sesion</title>
</head>
<body>
	<div id="notifications"></div>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<form
			class="column is-center card"
			id="app"
			action="/login"
			method="POST"
		>
			<input type="hidden" name="ni" v-bind:value="ni">
			<input type="hidden" name="password" v-bind:value="password">
			<div class="card-header">
				<p class="card-header-title">Iniciar Sesion</p>
			</div>
			<div class="card-content">
				<div class="field">
					<label for="ni" class="label">Numero de Identificacion</label>
					<input
						v-numeric
						v-model="ni"
						inputmode="numeric"
						type="text"
						class="input"
						placeholder="Numero de Identificacion"
					>
				</div>
				<div class="control">
					<label for="password" class="label">Contraseña</label>
					<div class="control has-icons-left stack">
						<input
							v-bind:type="(showPassword)? 'text' : 'password'"
							v-null
							v-model="password"
							class="input"
							placeholder="Contraseña"
						>
						<span class="icon is-small is-left">
							<i class="material-icons">lock{{ vue("(showPassword)? '_open' : null") }}</i>
						</span>
					</div>
					<div class="control stack">
						<label class="checkbox">
							<input
								v-model="showPassword"
								type="checkbox"
							>
							<span>Mostrar contraseña</span>
						</label>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<input
					type="submit"
					value="Iniciar Sesion"
					class="button is-primary"
					v-on:click="send"
				>
			</div>
		</form>
	</div>
</body>
</html>