<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" type="image/png" href="/static/media/logo.png">

<link rel="stylesheet" type="text/css" href="/static/cdn/materialIcons.css">
<link rel="stylesheet" type="text/css" href="/static/cdn/bulma/bulma.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/bulma-addons.css">
<link rel="stylesheet" type="text/css" href="/static/css/materialIcons-addons.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">