{% from utils.templates import script, vue, format_date, get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>

	{% include "./meta.jinja" %}
	{% raw script("/static/js/signup/first.js") %}

	<title>Inscribirse al evento "{{ evt['name'].title() }}"</title>
</head>
<body>
	<div id="notifications"></div>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card" id="app">
			<div class="card-header">
				<p class="card-header-title">{{ vue("(created)? 'Actualizar' : 'Crear'") }} datos del participante</p>
			</div>
			<div class="card-header">
				<p class="card-header-title">Inscripcion al evento "{{ evt['name'].title() }}" del grupo {{ group }} para el {{ format_date(evt['event_date']) }}</p>
			</div>
			<div class="card-content">
				<input type="hidden" ref="event" value="{{ evt['id'] }}">
				<div class="field">
					<label for="full_name" class="label">Identificacion</label>
					<div class="control">
						<div class="columns is-mobile">
							<div class="column is-one-third">
								<div class="select">
									<select
										v-model="niType"
										v-bind:disabled="(ni || '').toString().length < 6"
									>
										<option v-bind:value="null" selected="true" hidden="true">Tipo</option>
										{% for ni_type in ni_types %}
											<option
												v-bind:value="{{ ni_type.id }}"
											>{{ ni_type.abbreviation.upper() }}</option>
										{% end %}
									</select>
								</div>
							</div>
							<div class="column">
								<input
									v-numeric
									v-model="ni"
									v-bind:disabled="created"
									data-value="{{ ni }}"
									ref="ni"
									placeholder="Numero"
									type="text"
									class="input"
									inputmode="numeric"
								>
							</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label for="full_name" class="label">Nombre Completo</label>
					<div class="control">
						<input
							v-null
							v-capital
							v-model="fullName"
							type="text"
							class="input"
							placeholder="Nombre Completo"
						>
					</div>
				</div>
				<div class="field">
					<label for="email" class="label">Correo Electronico</label>
					<div class="control">
						<input
							v-null
							v-model="email"
							type="text"
							class="input"
							placeholder="Correo Electronico"
							inputmode="email"
						>
					</div>
				</div>
				<div class="field">
					<label for="phone" class="label">Numero de Telefono</label>
					<div class="field has-addons">
						<p class="control">
							<span class="button is-static">
								<b>TEL:</b>
							</span>
						</p>
						<p class="control is-expanded">
							<input
								v-numeric
								v-max-length="10"
								v-model="phone"
								type="text"
								class="input"
								placeholder="Numero de Telefono"
								inputmode="numeric"
							>
						</p>
					</div>
				</div>
				<div class="field">
					<label for="birthday" class="label">Fecha de Nacimiento</label>
					<div class="control">
						<date-picker v-model="birthday" />
					</div>
				</div>
				<div class="field">
					<label for="fork" class="label">Rama Actual</label>
					<div class="control">
						<div class="select">
							<select v-bind:value="fork" ref="fork" data-value="{{ fork_id }}" disabled="true">
								<option v-bind:value="null" selected="true" hidden="true">Rama</option>
								{% for fork in forks %}
									<option
										v-bind:value="{{ fork.id }}"
									>
										{{ fork.fork.title() }} - {{ fork.name.title() }}
									</option>
								{% end %}
							</select>
						</div>
					</div>
				</div>
				<div v-if="needParent">
					<hr />
					<div class="field">
						<h2 class="subtitle">Datos del acudiente</h2>
					</div>
					<div class="field">
						<label for="full_name" class="label">Identificacion</label>
						<div class="control">
							<div class="columns is-mobile">
								<div class="column is-one-third">
									<div class="select">
										<select v-model="parentNiType">
											<option v-bind:value="null" selected="true" hidden="true">Tipo</option>
											{% for ni_type in ni_types %}
												<option
													v-bind:value="{{ ni_type.id }}"
												>{{ ni_type.abbreviation.upper() }}</option>
											{% end %}
										</select>
									</div>
								</div>
								<div class="column">
									<input
										v-numeric
										v-bind:disabled="created"
										v-model="parentNi"
										placeholder="Numero"
										type="text"
										class="input"
										inputmode="numeric"
									>
								</div>
							</div>
						</div>
					</div>
					<div class="field">
						<label for="full_name" class="label">Nombre Completo</label>
						<div class="control">
							<input
								v-null
								v-capital
								v-model="parentFullName"
								type="text"
								class="input"
								placeholder="Nombre Completo"
							>
						</div>
					</div>
					<div class="field">
						<label for="email" class="label">Correo Electronico</label>
						<div class="control">
							<input
								v-null
								v-model="parentEmail"
								type="text"
								class="input"
								placeholder="Correo Electronico"
								inputmode="email"
							>
						</div>
					</div>
					<div class="field">
						<label for="phone" class="label">Numero de Telefono</label>
						<div class="field has-addons">
							<p class="control">
								<span class="button is-static">
									<b>TEL:</b>
								</span>
							</p>
							<p class="control is-expanded">
								<input
									v-numeric
									v-max-length="10"
									v-model="parentPhone"
									type="text"
									class="input"
									placeholder="Numero de Telefono"
									inputmode="numeric"
								>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<button
					v-on:click="send"
					class="button is-warning"
					v-bind:disabled="(ni || '').toString().length < 6"
				>{{ vue("(created)? 'Actualizar' : 'Crear'") }}</button>
				<div class="h-space" />
				<button
					v-on:click="next"
					v-bind:disabled="!created"
					class="button is-primary"
				>Continuar</button>
				<a
					v-if="needParent"
					v-bind:disabled="!created"
					class="button is-info"
					target="blank"
					v-bind:href="`/files/auth/${ni}.pdf`"
				>Descargar Autorizacion</a>
			</div>
		</div>
	</div>
</body>
</html>