{% from utils.templates import script, format_date, get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "./meta.jinja" %}
	{% raw script("/static/js/signup/second.js") %}

	<title>Inscribirse a la evento "{{ evt['name'].title() }}"</title>
</head>
<body>
	<div id="notifications"></div>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card" id="app">
			<div v-if="!finished">
				<div class="card-header">
					<p class="card-header-title">
						Inscribir datos de los posibles sintomas o afecciones
					</p>
				</div>
				<div class="card-header">
					<p class="card-header-title">
						Participante {{ subject['ni_type']['abbreviation'] }} {{ subject['ni'] }} - {{ subject['full_name'].title() }}
					</p>
				</div>
				<div class="card-header">
					<p class="card-header-title">
						Evento "{{ evt['name'].title() }}" del grupo {{ group }} para el {{ format_date(evt['event_date']) }}
					</p>
				</div>
				<div class="card-content">
					<input type="hidden" ref="ni" value="{{ subject['ni'] }}">
					<input type="hidden" ref="evt" value="{{ evt['id'] }}">
					<input type="hidden" ref="is_already" value="{{ int(is_already) }}">
					<div class="field">
						<label class="label"> Posibles sintomas </label>
						{% for symptom in symptoms %}
							<div class="control stack">
								<label class="checkbox">
									<input
										v-on:click="addAfection({{ symptom['id'] }}, $event.target.checked)"
										v-bind:disabled="none"
										ref="check-{{ symptom['id'] }}"
										type="checkbox"
									>
									<span
										v-bind:class="{ disabled: none }"
									>{{ symptom['description'].title() }}</span>
								</label>
							</div>
						{% end %}
						<div class="control stack">
							<label class="checkbox">
								<input
									v-model="none"
									v-bind:disabled="noNone"
									type="checkbox"
								>
								<span
									v-bind:class="{ disabled: noNone }"
								>Ninguna de las anteriores</span>
							</label>
						</div>
					</div>
					<div class="field">
						<label class="label">Otros (Especifica Aqui)</label>
						<div class="control">
							<textarea
								v-bind:disabled="none"
								v-model="other"
								v-null
								rows="5"
								class="textarea"
							></textarea>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button
						class="button is-primary"
						v-on:click="send"
					>Inscribirse</button>
					<div class="h-space"></div>
					<button
						class="button is-danger"
						v-on:click="clear"
					>Reiniciar</button>
				</div>
			</div>
			<div v-else>
				<div class="card-body">
					<div class="columns is-alone">
						<div class="column is-spacer"></div>
						<div class="column is-center" style="text-align: center;">
							<i
								class="material-icons text-success"
								style="font-size: 80px; margin-top: 30px;"
							>check_circle</i>
						</div>
					</div>
					<hr>
					<h3 class="subtitle is-3">
						<b>{{ subject['full_name'].title() }}</b>, tu respuesta se ha registrado exitosamente.
					</h3>
					<h5 class="subtitle is-5">
						La rama {{ subject['fork']['fork'].title() }} {{ subject['fork']['name'].title() }} del grupo {{ group }} te espera el {{ format_date(evt['event_date']) }} en el evento "{{ evt['name'].title() }}"
					</h5>
				</div>
			</div>
		</div>
	</div>
</body>
</html>