{% from utils.templates import get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../meta.jinja" %}

	<title>403 - No autorizado</title>
</head>
<body>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card">
			<div class="card-header">
				<span class="title card-header-title"> No autorizado </span>
			</div>
			<div class="card-content">
				{% if reason is None %}
					<p>No puedes acceder a esta pagina por el momento, puedes consultar con el administrador de la aplicacion</p>
				{% else %}
					<p>{{ reason.capitalize() }}</p>
				{% end %}
			</div>
			<div class="card-footer">
				<a href="/" class="button is-link">Ir al inicio</a>
			</div>
		</div>
	</div>
</body>
</html>