{% from utils.templates import get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../meta.jinja" %}

	<title>404 - No encontrado</title>
</head>
<body>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card">
			<div class="card-header">
				<span class="title card-header-title"> No encontrado </span>
			</div>
			<div class="card-content">
				<p>La ruta <b>"{{ uri }}"</b> no ha sido encontrada o no existe.</p>
			</div>
			<div class="card-footer">
				<a href="/" class="button is-link">Ir al inicio</a>
			</div>
		</div>
	</div>
</body>
</html>