div.card {
	--card-top: 3em;

	margin-top: var(--card-top);
	border-radius: 5px;
}

.control.stack {
	margin: 12px;
	margin-right: 0;
	margin-left: 0;
}

div.select {
	width: 100%;
}

div.select > select {
	width: 100%;
}

div.column.is-one-third {
	flex: none;
	width: calc(100% / 3);
}

div.columns.is-alone {
	display: flex !important;
}

div.columns.is-alone > div.column.is-spacer {
	flex: none;
	width: 30%;
}

div.columns.is-alone > .column.is-center {
	flex: none;
	width: 40%;
}

label.checkbox span {
	user-select: none;
}

.card .card-footer {
	padding: 1em;
}

code {
	color: #505050;
}

textarea.textarea {
	width: 100%;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
	color: #6D1B96;
}

.select:not(.is-multiple):not(.is-loading)::after,
.navbar-link:not(.is-arrowless)::after {
	border-color: #6D1B96;
}

.button.is-link,
.button.is-info {
    background-color: #7F1FB5;
}

.button.is-link:hover,
.button.is-info:hover {
    background-color: #6B1899;
}

.button.is-link:active,
.button.is-info:active {
    background-color: #4E136F;
}

@media (max-width: 800px) {
	div.columns.is-alone > div.column.is-spacer {
		width: 20%;
	}

	div.columns.is-alone > .column.is-center {
		width: 60%;
	}
}

@media (max-width: 650px) {
	div.columns.is-alone > div.column.is-spacer {
		width: 10%;
	}

	div.columns.is-alone > .column.is-center {
		width: 80%;
	}
}

@media (max-width: 400px) {
	div.columns.is-alone > div.column.is-spacer {
		display: none;
	}

	div.columns.is-alone > .column.is-center {
		width: 100%;
	}

	.column.is-center.card > .card-footer {
		padding: 20px;
	}
}