@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {
	background-image: url(/static/media/background.png);
	background-attachment: fixed;
	background-repeat: repeat;
}

.title,
.subtitle {
	font-family: 'Ubuntu', sans-serif;
}

.h-space {
	display: inline;
	padding: 0;
	padding-left: 1em;
}

.notifications-stack {
	margin: 1.5em;
}

.date-picker input,
.date-picker select {
	border-radius: 0;
}

ul {
	list-style: disc;
}

ul > li {
	margin-left: 30px
}

.bold {
	font-weight: bolder;
}

.text-center {
	text-align: center;
}

.card.xl-centered {
	max-width: 80%;
	margin: 3em auto;
}

.desplegable.card {
	margin: 0;
	margin-bottom: 1em;
}

.desplegable.card > .card-header {
	padding: 0.5em;
	display: block;
}

textarea.textarea.full {
	min-width: 100%;
}

.text-success {
	color: #48C774;
}

.text-danger {
	color: #F14668;
}

.text-warning {
	color: #FFDD57;
}

.text-primary {
	color: #3298DC;
}

.black {
	color: black !important;
}

.disabled {
	color: #4E136F;
}