.material-icons {
	display: inline-flex;
	vertical-align: top;
	font-size:21px;
	line-height:24px;
}

.material-icons.is-success {
	color: #48c774;
}

.material-icons.is-danger {
	color: #f14668;
}

.material-icons.is-warning {
	color: #ffdd57;
}

.material-icons.is-primary {
	color: #3298dc;
}
