<template>
	<div>
		<p style="text-align: center">
			<code style="width: 100%">{{value}}</code>
		</p>
		<button @click="createKey" class="button">Generate</button>
	</div>
</template>

<script>
export default {
	name: 'KeyGenerator',
	mounted() {
		this.createKey()
	},
	data() {
		return {
			value: 'Creating...',
		}
	},
	methods: {
		createKey() {
			const letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ+-_0123456789'.split('')
			let response = ''
			for (let i = 0; i < 120; i++) {
				let key = parseInt(Math.random() * letters.length)
				response += letters[key]
			}

			this.$data.value = response
		}
	}
}
</script>

<style lang="stylus">
button.button
	display: inline-block
	font-size: 1em
	color: #fff
	background-color: #7f1fb5
	padding: 0.5rem 1rem
	border-radius: 4px
	transition: background-color 0.1s ease
	box-sizing: border-box
	border-bottom: 1px solid #721ca3
	&:hover
		background-color: #9123ce
</style>
