{% from utils.templates import get_lang, script, vue %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../meta.jinja" %}

	{% raw script("/static/js/helpers/navbar.js") %}
	{% raw script("/static/js/users/changePassword.js") %}

	<title>Cambiar Contraseña</title>
</head>
<body>
	{% include "./navbar.jinja" %}
	<div id="notifications"></div>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card" id="app">
			<div class="card-header">
				<p class="card-header-title">Cambiar Contraseña</p>
			</div>
			<div class="card-content">
				<div class="field">
					<label for="creator" class="label">Creador</label>
					<input
						v-model="ni"
						ref="ni"
						type="text"
						class="input"
						data-value="{{ user['ni'] }}"
						disabled="true"
					>
					<p class="help">
						Usuario "{{ user['full_name'].title() }}"
					</p>
				</div>
				<div class="control">
					<label for="password" class="label">Contraseña</label>
					<div class="control has-icons-left stack">
						<input
							v-null
							v-bind:type="(showPassword)? 'text' : 'password'"
							v-model="password"
							class="input"
							placeholder="Contraseña"
						>
						<span class="icon is-small is-left">
							<i class="material-icons">lock{{ vue("(showPassword)? '_open' : null") }}</i>
						</span>
					</div>
					<div class="control has-icons-left stack">
						<input
							v-null
							v-bind:type="(showPassword)? 'text' : 'password'"
							v-model="passwordConfirm"
							class="input"
							placeholder="Confimar contraseña"
						>
						<span class="icon is-small is-left">
							<i class="material-icons">lock{{ vue("(showPassword)? '_open' : null") }}</i>
						</span>
					</div>
					<div class="control stack">
						<label class="checkbox">
							<input
								v-model="showPassword"
								type="checkbox"
							>
							<span>Mostrar contraseña</span>
						</label>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<button
					v-on:click="send"
					class="button is-link"
				>Cambiar</button>
			</div>
		</div>
	</div>
</body>
</html>