{% from utils.templates import get_lang, script %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../meta.jinja" %}

	{% raw script("/static/js/helpers/navbar.js") %}
	{% raw script("/static/js/admins/create.js") %}

	<title>Crear Administrador</title>
</head>
<body>
	{% include "./navbar.jinja" %}
	<div id="notifications"></div>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<form
			class="column is-center card"
			style="margin-top: 2em;"
			id="app"
			action="/admin/create"
			method="POST"
		>
			<div class="card-header">
				<p class="card-header-title">Crear administrador</p>
			</div>
			{% if len(possible_admins) > 0 %}
				<div class="card-content">
					<div class="field">
						<div class="control columns">
							<div class="column">
								<div class="select">
									<select v-model="filter">
										<option
											v-bind:value="null"
											selected="true"
											disabled="true"
											hidden="true"
										>Filtrar por Ramas</option>
										{% for fork in forks %}
											<option
												v-bind:value="{{ fork['id'] }}"	
											>{{ fork['fork'].upper() }} - {{ fork['name'].title() }}</option>
										{% end %}
									</select>
								</div>
							</div>
							<div class="column">
								<button v-on:click="$event.preventDefault(); runFilter()" class="button is-info">Filtrar</button>
							</div>
						</div>
					</div>
					<hr>
					<div class="field">
						<label class="label">Seleccione el nuevo administrador</label>
						<div class="control">
							<div class="select">
								<select v-model="admin" name="admin">
									<option
										v-bind:value="null"
										selected="true"
										disabled="true"
										hidden="true"
									>Participantes</option>
									{% for possible_admin in possible_admins %}
										<option
											v-bind:value="{{ possible_admin['ni'] }}"	
										>
										{{ possible_admin['ni_type']['abbreviation'] }} {{ possible_admin['ni'] }}
										-
										{{ possible_admin['full_name'].title() }}
									</option>
									{% end %}
								</select>
							</div>
						</div>
					</div>
					<p><b>NOTA:</b> A la hora de crear al administrador la contraseña por defecto es "1234" este se modificar por el administrador cuando inicie sesion.</p>
				</div>
				<div class="card-footer">
					<button
						class="button is-primary"
						v-on:click="send"
					>Crear</button>
				</div>
			{% else %}
				<div class="card-content">
					<div class="columns is-alone">
						<div class="column is-spacer"></div>
						<div class="column is-center" style="text-align: center;">
							<i
								class="material-icons text-danger"
								style="font-size: 80px; margin-top: 30px;"
							>report_problem</i>
						</div>
					</div>
					<hr>
					<h4 class="title is-4">No hay ningun participante registrado que pueda ser administrador.</h4>
				</div>
			{% end %}
		</form>
	</div>
</body>
</html>