<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<!--img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
			<div class="h-space"></div-->
			<h3 class="subtitle black">Bio-Scout</h3>
		</a>

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu-navbar">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="menu-navbar" class="navbar-menu">
		<div class="navbar-start">
			<a href="/events" class="navbar-item">
				Eventos
			</a>
			<a href="/subjects" class="navbar-item">
				Participantes
			</a>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">Configuracion</a>
				<div class="navbar-dropdown">
					<a href="/user/changePassword" class="navbar-item">
						<b>Cambiar Contraseña</b>
					</a>
					<a href="/admin/create" class="navbar-item">
						Crear Administrador
					</a>
					<a href="/admin/symptoms" class="navbar-item">
						Sintomas
					</a>
					<a href="/admin/niTypes" class="navbar-item">
						Tipo de Identificaciones
					</a>
				</div>
			</div>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="media">
					<div class="media-content">
						<p class="title is-5 black">{{ user['full_name'].title() }}</p>
						<p class="subtitle is-6 black">{{ user['ni_type']['abbreviation'] }} {{ user['ni'] }}</p>
					</div>
				</div>
			</div>
			<div class="navbar-item">
				<div class="buttons">
					<a href="/events/create" class="button is-info">Crear un Evento</a>
				</div>
			</div>
		</div>
	</div>
</nav>