{% from utils.templates import get_lang, script, vue %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../meta.jinja" %}

	{% raw script("/static/js/helpers/navbar.js") %}
	{% raw script("/static/js/admins/niTypes.js") %}

	<title>Administrar - Tipo de identificaciones</title>
</head>
<body>
	{% include "./navbar.jinja" %}
	<div id="notifications"></div>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<form
			class="column is-center card"
			style="margin-top: 2em;"
			id="app"
			action="/admin/niTypes"
			method="POST"
		>
			<div class="card-header">
				<p class="card-header-title">Administrar tipo de identificaciones</p>
			</div>
			<div class="card-content">
				<div class="table-container" v-if="showSummary">
					<p class="subtitle is-5">Sintomas actuales</p>
					<table class="table is-fullwidth is-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Abreviacion</th>
								<th>Nombre</th>
							</tr>
						</thead>
						<tbody>
							{% for ni_type in ni_types %}
								<tr>
									<td>
										{{ ni_type['id'] }}
									</td>
									<td>
										{{ ni_type['abbreviation'].upper() }}
									</td>
									<td>
										{{ ni_type['name'].title() }}
									</td>
								</tr>
							{% end %}
						</tbody>
					</table>
					<hr>
				</div>
				<div class="field">
					<label class="label">Abreviacion</label>
					<input
						v-upper
						v-model="abbreviation"
						name="abbreviation"
						type="text"
						class="input"
						placeholder="Abreviacion"
					>
				</div>
				<div class="field">
					<label class="label">Nombre</label>
					<input
						v-capital
						v-model="name"
						name="name"
						type="text"
						class="input"
						placeholder="Nombre"
					>
				</div>
			</div>
			<div class="card-footer">
				<button
					class="button is-info"
					v-on:click="send"
				>Guardar</button>
				<div class="h-space"></div>
				<button
					class="button is-primary"
					v-on:click="$event.preventDefault(); showSummary = !showSummary"
				>{{ vue("(showSummary)? 'Ocultar' : 'Mostrar'") }} Resumen</button>
			</div>
		</form>
	</div>
</body>
</html>