{% from utils.templates import script, get_lang, third_operator as to %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../../meta.jinja" %}

	{% raw script("/static/js/helpers/navbar.js") %}
	{% raw script("/static/js/admins/subjects/getAll.js") %}

	<title>Listado Participantes</title>
</head>
<body>
	{% include "../navbar.jinja" %}
	<div class="card xl-centered">
		<div class="card-header">
			<p class="card-header-title">{{ len(subjects) }} participantes listados</p>
		</div>
		<div class="card-content">
			<div id="filter">
				<div v-if="show">
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label class="label">Ramas Participantes</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control is-expanded">
									<div class="select">
										<select v-model="fork">
											<option
												v-bind:value="null"
												selected="true"
												disabled="true"
												hidden="true"
												>Filtrar por Ramas</option>
												{% for fork in forks %}
													<option
														v-bind:value="{{ fork['id'] }}"	
													>{{ fork['fork'].upper() }} - {{ fork['name'].title() }}</option>
												{% end %}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<button
								v-on:click="apply"
								class="button is-info"
							>Filtrar</button>
							<span class="h-space"></span>
							<button
								v-on:click="reset"
								class="button is-warning"
							>Restablecer</button>
							<span class="h-space"></span>
							<button
								v-on:click="show = false"
								class="button is-primary"
							>Ocultar</button>
							<div class="h-space"></div>
							<a
								href="/files/subjects.xlsx"
								target="blank"
								class="button is-info"
							>Descargar para Excel</a>
						</div>
					</div>
				</div>
				<div v-else>
					<button
						v-on:click="show = true"
						class="button is-primary"
					>Aplicar filtros</button>
					<div class="h-space"></div>
					<a
						href="/files/subjects.xlsx"
						target="blank"
						class="button is-info"
					>Descargar para Excel</a>
				</div>
			</div>
			<hr>
			{% if len(subjects) > 0 %}
				<div class="columns is-multiline">
					{% set list_is_odd = (len(subjects) % 2) != 0 %}
					{% for subject in subjects %}
						{% set is_last = subjects[-1] is subject %}
						<div
							class="column {{ to(list_is_odd and is_last, 'is-full', 'is-half') }} card"
							style="margin: 0;"
						>
							<div class="card-content">
								<p>
									<b>N° de identidad:</b>
									{{ subject['ni_type']['abbreviation'] }} {{ subject['ni'] }}
								</p>
								<p>
									<b>Nombre:</b>
									{{ subject['full_name'].title() }}
								</p>
								<p>
									<b>Rama:</b>
									<em>{{ subject['fork']['fork'].upper() }}</em> - {{ subject['fork']['name'].title() }}
								</p>
							</div>
							<div class="card-footer">
								<a href="/subjects/{{ subject['ni'] }}" class="button is-info">Detalles</a>
							</div>
						</div>
					{% end %}
				</div>
			{% else %}
				<h2 class="subtitle text-center">No hay actividades por el momento</h2>
			{% end %}
		</div>
	</div>
</body>
</html>