{% from utils.templates import script, get_lang, format_date %}
{% from utils.dates import get_years %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../../meta.jinja" %}

	{% raw script("/static/js/helpers/navbar.js") %}

	<title>Participante - {{ subject['ni_type']['abbreviation'] }} {{ subject['ni'] }}</title>
</head>
<body>
	{% include "../navbar.jinja" %}
	<div class="card xl-centered">
		<div class="card-header">
			<p class="card-header-title">Detalles del participante: "{{ subject['full_name'].title() }}"</p>
		</div>
		<div class="card-content">
			<p><b>N° de identidad:</b> {{ subject['ni_type']['abbreviation'] }} {{ subject['ni'] }}</p>
			<p><b>Nombre:</b> {{ subject['full_name'].title() }}</p>
			<p><b>Rama:</b> <em>{{ subject['fork']['fork'].upper() }}</em> - {{ subject['fork']['name'].title() }}</p>
			<p><b>Fecha de Nacimiento:</b> {{ format_date(subject['birthday']) }}</p>
			<p><b>Edad:</b> {{ get_years(subject['birthday']) }} años</p>
			<p>
				<b>Correo Electronico:</b>
				<a href="mailto:{{ subject['email'] }}">{{ subject['email'] }}</a>
			</p>
			<p>
				<b>Telefono:</b>
				<a href="tel:{{ subject['phone'] }}">{{ subject['phone'] }}</a>
			</p>
			{% if subject['parent'] is not None %}
				{% set parent = subject['parent'] %}
				<hr>
				<h5 class="title is-5">Acudiente</h5>
				<p><b>N° de identidad:</b> {{ parent['ni_type']['abbreviation'] }} {{ parent['ni'] }}</p>
				<p><b>Nombre:</b> {{ parent['full_name'].title() }}</p>
				<p>
				<b>Correo Electronico:</b>
					<a href="mailto:{{ parent['email'] }}">{{ parent['email'] }}</a>
				</p>
				<p>
					<b>Telefono:</b>
					<a href="tel:{{ parent['phone'] }}">{{ parent['phone'] }}</a>
				</p>
			{% end %}
		</div>
	</div>
</body>
</html>