{% from utils.templates import script, get_lang %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../../meta.jinja" %}

	{% raw script("/static/js/helpers/navbar.js") %}
	{% raw script("/static/js/admins/events/create.js") %}

	<title>Crear evento</title>
</head>
<body>
	{% include "../navbar.jinja" %}
	<div id="notifications"></div>
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card" id="app">
			<div class="card-header">
				<p class="card-header-title">Crear evento</p>
			</div>
			<div class="card-content">
				<div class="field">
					<label for="creator" class="label">Creador</label>
					<input
						v-model="ni"
						ref="ni"
						type="text"
						class="input"
						data-value="{{ user['ni'] }}"
						disabled="true"
					>
					<p class="help">
						Creador a nombre de "{{ user['full_name'].title() }}"
					</p>
				</div>
				<div class="field">
					<label for="event-name" class="label">Nombre del evento</label>
					<input
						v-capital
						v-null
						v-model="name"
						type="text"
						class="input"
						placeholder="Nombre del evento"
					>
				</div>
				<div class="field">
					<label for="event-date" class="label">Fecha del evento</label>
					<date-picker v-model="date" />
				</div>
				<div class="field">
					<label for="forks" class="label">Ramas Participantes</label>
					{% for fork in forks %}
						<div class="control stack">
							<label class="checkbox">
								<input
									type="checkbox"
									v-on:click="altern({{ fork.id }}, $event.target.checked)"
								>
								<span>{{ fork.fork.upper() }} - {{ fork.name.title() }}</span>
							</label>
						</div>
					{% end %}
				</div>
			</div>
			<div class="card-footer">
				<button v-on:click="send" class="button is-info">Crear</button>
				<div class="h-space"></div>
				<button v-on:click="reset" class="button is-danger">Reiniciar</button>
			</div>
		</div>
	</div>
</body>
</html>