{% from utils.templates import script, format_date, get_lang, third_operator as to %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../../meta.jinja" %}

	{% raw script("/static/js/helpers/navbar.js") %}
	{% raw script("/static/js/admins/events/getAll.js") %}

	<title>Listado Eventos</title>
</head>
<body>
	{% include "../navbar.jinja" %}
	<div class="card xl-centered">
		<div class="card-header">
			<p class="card-header-title">{{ len(events) }} eventos listados</p>
		</div>
		<div class="card-content">
			<div id="filter">
				<div v-if="show">
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label class="label">Ramas Participantes</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control is-expanded">
									<div class="select">
										<select v-model="fork">
											<option
												v-bind:value="null"
												selected="true"
												disabled="true"
												hidden="true"
												>Filtrar por Ramas</option>
												{% for fork in forks %}
													<option
														v-bind:value="{{ fork['id'] }}"	
													>{{ fork['fork'].upper() }} - {{ fork['name'].title() }}</option>
												{% end %}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label class="label">Buscar desde</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control stack is-expanded">
									<date-picker v-model="from" />
								</div>
								<div class="control stack is-expanded">
									<label class="checkbox">
										<input v-model="applyFrom" type="checkbox">
										<span>Aplicar filtro</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label class="label">Buscar hasta</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control stack is-expanded">
									<date-picker v-model="to" />
								</div>
								<div class="control stack is-expanded">
									<label class="checkbox">
										<input v-model="applyTo" type="checkbox">
										<span>Aplicar filtro</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<button
								v-on:click="apply"
								class="button is-info"
							>Filtrar</button>
							<span class="h-space"></span>
							<button
								v-on:click="reset"
								class="button is-warning"
							>Restablecer</button>
							<span class="h-space"></span>
							<button
								v-on:click="show = false"
								class="button is-primary"
							>Ocultar</button>
						</div>
					</div>
				</div>
				<div v-else>
					<button
						v-on:click="show = true"
						class="button is-primary"
					>Aplicar filtros</button>
				</div>
			</div>
			<hr>
			{% if len(events) > 0 %}
				<div class="columns is-multiline">
					{% set list_is_odd = (len(events) % 2) != 0 %}
					{% for event in events %}
						{% set is_last = events[-1] is event %}
						<div
							class="column {{ to(list_is_odd and is_last, 'is-full', 'is-half') }} card"
							style="margin: 0;"
						>
							<div class="card-header">
								<a href="/events/{{ event['id'] }}" class="card-header-title">
									{{ event['name'].title() }}
								</a>
							</div>
							<div class="card-content">
								<div class="content">
									<p>
										<b>Creador:</b>
										<em>{{ event['creator_ni'] }}</em>&ensp;-&ensp;
										{{ event['creator_name'].split(' ')[0].title() }}
									</p>
									<p>
										<b>Fecha:</b>
										{{ format_date(event['event_date']) }}
									</p>
									<p>
										<b>Ramas participantes:</b>
										{{ ', '.join([ fork['fork'].title() for fork in event['forks'] ]) }}
									</p>
									<p>
										<b>Participantes registrados:</b>
										<em>{{ event['registered_subjects'] }}</em>
									</p>
									<p>
										<b>Temperaturas registradas:</b>
										<em>{{ event['registered_temperatures'] }}/{{ event['registered_subjects'] }}</em>
									</p>
								</div>
							</div>
						</div>
					{% end %}
				</div>
			{% else %}
				<h2 class="subtitle text-center">No hay actividades por el momento</h2>
			{% end %}
		</div>
	</div>
</body>
</html>