{% from utils.templates import script, format_date, get_lang, third_operator as to %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../../meta.jinja" %}

	{% raw script("/static/js/helpers/navbar.js") %}
	{% raw script("/static/js/admins/events/getOne.js") %}

	<title>Detalles evento - ID: {{ event['id'] }}</title>
</head>
<body>
	{% include "../navbar.jinja" %}
	<div class="card xl-centered">
		<div class="card-header">
			<p class="card-header-title">Detalles del evento: "{{ event['name'].title() }}"</p>
		</div>
		<div class="card-content">
			<div class="columns">
				<div class="column is-half">
					<h3><b>Nombre del evento:</b> {{ event['name'].title() }}</h3>
					<p><b>Creador:</b> {{ event['creator_name'].title() }} - {{ event['creator_ni'] }}</p>
					<p><b>Fecha del Evento:</b> {{ format_date(event['event_date']) }}</p>
					<p><b>Ramas participantes:</b></p>
					<ul>
						{% for fork in event['forks'] %}
							<li>
								<b>{{ fork['fork'].title() }}</b>
								<i class="material-icons">keyboard_arrow_right</i>
								<code class="copyable">{{ host }}/signup/{{ event['id'] }}-{{ fork['id'] }}</code>
							</li>
						{% end %}
					</ul>
				</div>
				<div class="column is-half">
					<h3><b>Inscritos</b></h3>
					{% if len(inscribed) > 0 %}
							{% for subject in inscribed %}
								<div class="desplegable card">
									<p class="card-header" v-on:click="show = !show">
										{% if len(subject['symptoms']) == 0 and subject['observations'] is None %}
											<i class="material-icons is-success">check_circle_outline</i>
										{% else %}
											<i class="material-icons is-danger">error_outline</i>
										{% end %}

										{{ subject['ni_type']['abbreviation'] }}:{{ subject['ni'] }}
										<b>
											{{ subject['full_name'].title() }}
										</b> - <em>
											{{ subject['fork']['fork'].upper() }}
										</em>
									</p>
									<div v-show="show" class="card-content">
										{% if len(subject['symptoms']) == 0 and subject['observations'] is None %}
											<h2 class="title is-2 text-success">Ningun sintoma</h2>
										{% else %}
											{% if len(subject['symptoms']) > 0 %}
												<h6 class="subtitle is-6">Sintomas</h6>
												<ul>
													{% for symptom in subject['symptoms'] %}
														<li>{{ symptom['description'].title() }}</li>
													{% end %}
												</ul>
											{% end %}
											{% if subject['observations'] is not None %}
												{% if len(subject['symptoms']) > 0 %}
													<hr>
												{% end %}
												<h6 class="subtitle is-6">Observacion</h6>
												<textarea class="textarea full" disabled="disabled">{{ subject['observations'] }}</textarea>
											{% end %}
										{% end %}
										<hr>
										<a href="/subjects/{{ subject['ni'] }}" class="button is-info">Detalles</a>
									</div>
								</div>
							{% end %}
					{% else %}
						<p class="text-center">No hay nadie inscrito aun.</p>
					{% end %}
					<h3><b>Temperaturas registradas</b></h3>
					{% if len(temp_registered) > 0 %}
						<ul>
							{% for subject in temp_registered %}
								<li>
									<b>{{ subject['full_name'].title() }}</b>
									&ensp;-&ensp;
									<em
										class="text-{{ to(subject['initial_temp'] <= 35, 'primary', to(subject['initial_temp'] >= 37, 'danger', 'success')) }}"
									>
										<i class="material-icons">south_west</i> {{ subject['initial_temp'] }}°C
									</em>
									{% if subject['final_temp'] is not None %}
										&ensp;-&ensp;
										<em
											class="text-{{ to(subject['final_temp'] <= 35, 'primary', to(subject['final_temp'] >= 37, 'danger', 'success')) }}"
											>
												<i class="material-icons">north_east</i> {{ subject['final_temp'] }}°C
											</em>
									{% end %}
								</li>
							{% end %}
						</ul>
					{% else %}
						<p class="text-center">No hay nadie registrado aun.</p>
					{% end %}
				</div>
			</div>
		</div>
		<div class="card-footer">
			<a
				href="/events/{{ event['id'] }}/temperature"
				target="blank"
				class="button is-primary"
			>Inscribir Temperaturas</a>
			<div class="h-space"></div>
			<a
				href="/files/events/event_{{ event['id'] }}.xlsx"
				target="blank"
				class="button is-link"
			>Descargar para Excel</a>
		</div>
	</div>
	<script>
		'use strict'
		const copyables = document.getElementsByClassName('copyable');
		for (var i = 0; i < copyables.length; i++) {
			const el = copyables[i];

			el.style.userSelect = 'none'

			el.onclick = () => {
				navigator.clipboard.writeText(el.innerText)
				alert('Copiado al porta papeles.')
			}
		}
	</script>
</body>
</html>