{% from utils.templates import script, get_lang, third_operator as to %}

<!DOCTYPE html>
<html lang="{{ get_lang() }}">
<head>
	{% include "../../meta.jinja" %}

	{% raw script("/static/js/helpers/navbar.js") %}
	{% if len(subjects) > 0 %}
		{% raw script("/static/js/admins/events/temperature.js") %}
	{% end %}

	<title>Temperaturas Inscritas - ID: {{ event['id'] }}</title>
</head>
<body>
	{% include "../navbar.jinja" %}
	<div class="columns is-alone">
		<div class="column is-spacer"></div>
		<div class="column is-center card" id="app">
			<div class="card-header">
				<p class="card-header-title">{{ to(len(subjects) > 0, 'Inscribir Temperaturas', 'No hay nadie inscrito por el momento') }}</p>
			</div>
			{% if len(subjects) > 0 %}
				<div class="card-content">
					<input type="hidden" data-value="{{ event['id'] }}" ref="event">
					<div class="field">
						<div class="control columns">
							<div class="column">
								<div class="select">
									<select
										v-model="filter"
										ref="filter"
										data-value="{{ to(fork_filter is None, 'null', fork_filter) }}"
									>
										<option
											v-bind:value="null"
											selected="true"
											disabled="true"
											hidden="true"
										>Filtrar por Ramas</option>
										{% for fork in forks %}
											<option
												v-bind:value="{{ fork['id'] }}"	
											>{{ fork['fork'].upper() }} - {{ fork['name'].title() }}</option>
										{% end %}
									</select>
								</div>
							</div>
							<div class="column">
								<button v-on:click="runFilter" class="button is-info">Filtrar</button>
							</div>
						</div>
					</div>
					<hr>
					<div class="field">
						<label class="label">Participantes</label>
					</div>
					{% set index = 1 %}
					{% for subject in subjects %}
						<div class="field">
							<div class="columns">
								<div class="column">
									<em>{{ subject['ni_type'] }} {{ subject['ni'] }}</em>
								</div>
								<div class="control column">
									<input
										v-on:input="inputSubject({{ subject['ni'] }}, 'initial', $event.target)"
										type="text"
										class="input"
										inputmode="numeric"
										placeholder="Temp. Inicial"
										ref="input-initial-{{ subject['ni'] }}"
										data-value="{{ to(subject['initial_temp'] is None, 0, subject['initial_temp']) }}"
										data-ni="{{ subject['ni'] }}"
									>
								</div>
								<div class="control column">
									<input
										v-on:input="inputSubject({{ subject['ni'] }}, 'final', $event.target)"
										type="text"
										class="input"
										inputmode="numeric"
										placeholder="Temp. Final"
										ref="input-final-{{ subject['ni'] }}"
										data-value="{{ to(subject['final_temp'] is None, 0, subject['final_temp']) }}"
									>
								</div>
							</div>
						</div>
						{% if index < len(subjects) %}
							<hr>
						{% end %}
						{% set index += 1 %}
					{% end %}
				</div>
				<div class="card-footer">
					<button v-on:click="send" class="button is-primary">Guardar</button>
				</div>
			{% elif fork_filter is not None %}
				<div class="card-footer">
					<a href="/events/{{ event['id'] }}/temperature" class="button is-primary">Quitar filtro</a>
				</div>
			{% end %}
		</div>
	</div>
</body>
</html>